.list{
  width: 30%;
  position: absolute;
  right: 0;
}
.listTasks{
  position: absolute;
  left: 40%;
  width: 250px;
  background-color: #e5e5e5;
}

.listItem{
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px
}

.Entrar{
  background-color: green;
}

.Proximo{
  background-color: blue;
}
.Andamento{
  background-color: sienna;
}

.Aguardando{
  background-color: yellow;
}

.Cancelada{
  background-color: red;
}

.Concluida {
  background-color: gray;
}