.header{
  background-color: black;
  width: 100%;
  height: 80px;
}
.header .container{
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.header p {
  align-content: center;
  color: #0066cc;
}
.header li {
  justify-content: space-between;
  color: #0066cc;
}